@media only screen and (min-width: 768px) {

    ``` #menu-button {
        display: none;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        height: 100%;
    }

    .card img {
        width: 100%;
        max-width: 100%;
    }

    ```
}