root {
    --primary-color: #006400;
    --secondary-color: #ffffff;
    --accent-color: #c8102e;
    --card-bg: rgba(255, 255, 255, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* HEADER */

header {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 2rem;
    border-bottom: 15px solid var(--primary-color);
}

header h1 {
    font-size: 3rem;
}

/* HERO IMAGE */

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/* MAIN */

main {
    position: relative;
}

/* CARDS */

.card {
    background-color: var(--card-bg);
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin: -1.5rem -1.5rem 1rem -1.5rem;
}

/* WEATHER ICON */

.weather-icon {
    width: 60px;
    margin-bottom: 1rem;
}

/* FOOTER */

footer  {
            
    background-color: #c8102e;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    font-weight: bold;
    line-height: 1.8;
    font-size: 1rem;
}

/* MOBILE VIEW */

.data,
.weather {
    margin: 1rem;
}

/* LARGE VIEW */

@media screen and (min-width: 768px) {

    main {
        max-width: 1400px;
        margin: 0 auto;
    }

    .data {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 300px;
    }

    .weather {
        position: absolute;
        bottom: 40px;
        right: 20px;
        width: 280px;
    }

    .weather h2::after {
        content: " ⛅";
    }

    .weather-icon {
        display: none;
    }
           
    
    
    
           
}

